.hideOnLoad {
	display: none;
}
#a:hover {
	background-color: lightblue;
}
#b:hover {
	background-color: lightgreen;
}
#c:hover {
	background-color: lightcoral;
}
#d:hover {
	background-color: linen;
}
.container {
	margin-top: 25%;
}
.clock {
	font-size: 40px;
	font-weight: bold;
}
.triviaArea {
	margin-top: 25px;
}